/* .bg-nav{
    background-color: blueviolet!important;
} */

@media (min-width: 992px){
    .bg-nav{
        display: none;
        background-color: transparent;
    }
}
@media (max-width: 992px){
    
    .bg-nav{
        background-color: blueviolet;
        padding:0px 10px;
    }
}
/* @media (min-width: 576px){
    .bg-nav{
        background-color: blueviolet!important;
    }
} */
/* @media (min-width: 0px){
    .bg-nav{
        background-color: blueviolet!important;
    }
} */

.header {
    /* -moz-transition: top .3s ease-in-out;
    -ms-transition: top .3s ease-in-out;
    -o-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out; */
    background: url(/images/bg_header.png?bf2635121ecb14c27bbc949a9edd500f)!important;
    width: 100%;
    height: 56px
}

.logo {
    width: 130px;
    margin-right: 20px;
}


